.dnnFormPopup .ui-dialog-titlebar {
    position: relative;
    padding: 0;
    border-bottom: none; 
    cursor: move;
    font-size: 14px;
    font-weight: bold;
}
.popup div.alpaca {
    padding-bottom:59px;
}
.popup .dnnActions{
    display: block;
    
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    background-color: #fff;
    z-index: 2;
}

/* table */
.alpaca-field-tablerow label.control-label,
.alpaca-field-tablerow .dnnLabel {
    display: none;
}

.alpaca-field-table .actionbar {
    white-space: nowrap;
    text-align: left;
}

.alpaca-field-table table {
    padding-left: 35%;
    /*margin-left: -38px;*/
    width:100%;
    display:none;
    margin-bottom:18px;
}

.alpaca-field-table .alpaca-container-has-items table {
    display:table;
}

.alpaca-field-table table tr td .alpaca-field {
    width: 100%;
}

.alpaca-field-table table tr td .alpaca-field .alpaca-control {
    width: auto;
    margin: 0;
}

.alpaca-field-table .form-group {
    margin-bottom: 0px;
}

    .alpaca-field-table .form-group.alpaca-field-checkbox {
        text-align: center;
    }

.alpaca-field-table .alpaca-control.checkbox {
    /*
    margin: 0px;
    padding: 0px;
    */
    padding-top: 6px;
}

/*
.alpaca-field-table .alpaca-control.checkbox input[type='checkbox']
{
    margin-left: -16px;
    margin-top: -3px;
}
*/

.alpaca-field-table table tr td.actionbar .alpaca-array-actionbar {
    padding: 0;
    margin: 0;
}

.alpaca-field-table .actionbar .alpaca-array-actionbar.btn-group {
    width: auto;
}


/* -------------- */

.alpaca-field .help-block,
.alpaca-field .alpaca-message {
 padding-left:32%;
     margin-bottom: 18px;
     margin-left:38px;
     color: #aa0000;
}

.alpaca-field-text-max-length-indicator {
    margin: 0;
    color: #aaa;
}

.alpaca-field-text-max-length-indicator.err {
    color: #aa0000;
}

.alpaca-message-notOptional
 {
    color: #aa0000;
}

.alpaca .alpaca-field-array > fieldset > .alpaca-container > .alpaca-container-item > div > .alpaca-field-object,
.alpaca .alpaca-field-array > .alpaca-container > .alpaca-container-item > div > .alpaca-field-object {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: auto;
}

.alpaca .dnnForm fieldset {
    margin-bottom: 0;
}

.alpaca-control-container {
    width: 45%;
    max-width: 445px;
    float: left;
}

.alpaca-image-display,
.dnnFormItem.alpaca-field.alpaca-field-image input[type=text],
.dnnFormItem.alpaca-field.alpaca-field-image .twitter-typeahead,
.dnnFormItem.alpaca-field.alpaca-field-imagecropper input[type=text],
.dnnFormItem.alpaca-field.alpaca-field-imagecropper .twitter-typeahead {
    /*
    padding-left:32%;
    margin-left:38px;
    width: 45%;
    max-width: 445px;    
    */
    width: 95%;
}

.dnnFormItem.alpaca-field.alpaca-field-imagecropper .alpaca-form-button {
    padding: 5px;
    margin: 5px;
    border: solid 1px #aaa;
}


.dnnFormItem.alpaca-field.alpaca-field-imagecropper .alpaca-form-tab {
    padding: 5px;
    border: solid 1px #aaa;
}

    .dnnFormItem.alpaca-field.alpaca-field-imagecropper .alpaca-form-tab.active {
        background-color: #ccc;
    }

.dnnFormItem.alpaca-field.alpaca-field-file input[type=text],
.dnnFormItem.alpaca-field.alpaca-field-file .twitter-typeahead {
    /*
    padding-left:32%;
    margin-left:38px;
    width: 45%;
    max-width: 445px;    
    */
    width: 95%;
}

.alpaca-image-display {
    margin-bottom: 18px;
}

.alpaca-field-imagecropper .alpaca-image-display img {
    height: 300px;
}


.alpaca-image-display img {
    max-height: 200px;
    min-height: 100px;
    max-width: 400px;
}

.alpaca-array-actionbar {
    /* padding-left:32%; */
    padding-left: 100%;
    margin-left: -150px;
    margin-top: 9px;
    margin-bottom: -25px;
    z-index: 1;
}

.alpaca-field-wysihtml .alpaca-control {
    width: 45%;
    max-width: 461px;
    display: inline-block;
}

.alpaca-field-ckeditor .cke {
    width: 47%;
    max-width: 461px;
    display: inline-block;
    margin-bottom: 18px;
    background: #ffffff;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.alpaca-field-ckeditor .cke_source {
    border: 0;
    padding: 0;
    margin: 0;
}

.alpaca-field-ckeditor .cke_top {
    border-bottom: 1px solid #b6b6b6;
}


.alpaca-field-wysihtml .editor {
    margin-bottom: 18px;
    padding: 8px;
    background: #ffffff;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 12px;
    /*width: 100%;*/
}

.alpaca-field-wysihtml .toolbar {
    /*height:25px;*/
}

.alpaca-field-wysihtml .dialog {
    padding: 2px;
}



.alpaca-field-wysihtml .toolbar .block {
    display: inline-block;
}

.alpaca-field-wysihtml .toolbar a {
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 0.2em;
    margin: 1px 0;
    color: #000;
    cursor: pointer;
}

    .alpaca-field-wysihtml .toolbar a.wysihtml5-command-active,
    .alpaca-field-wysihtml .toolbar .wysihtml5-action-active {
        background: #222;
        color: white;
    }

.alpaca-array-actionbar-action i.fa {
    font-size: 16px;
}

.Add_16X16_Gray {
    /* Add_16X16_Standard.png */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5MjRDMEMyNTY3MUMxMUUyODAxRUZCQUI4MUNCOTQzNCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5MjRDMEMyNjY3MUMxMUUyODAxRUZCQUI4MUNCOTQzNCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjkyNEMwQzIzNjcxQzExRTI4MDFFRkJBQjgxQ0I5NDM0IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjkyNEMwQzI0NjcxQzExRTI4MDFFRkJBQjgxQ0I5NDM0Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+tyPG2wAAAMdJREFUeNpi/P//PwMlgJFqBjAyMqJIzJkzZ8rfv3+zQWxmZuapKSkpOcjyMH1MuEyWkZGxxsZGB0wMFAKKDYCHwaxZsx4gSwD9LQkMAzYo+xeQ/RxZPi0tTQFEsyCJySMrAGpAZrOhy8MA3AA2NjYGdANghjAxMTGwsLAQTAcoXjh9+rTE+fPn2UFsbW3tX9bW1s/R9CqgBCIwHSgg448fP56AyX358uUauvzgiUZwksSWH37+/NkCxP+heAoufYwDnhsBAgwA8PVlhGktSxYAAAAASUVORK5CYII=') /*img/Add_16X16_Gray.png*/;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.Delete_16X16_Gray {
    /* Delete_16X16_Standard.png */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpFRDFGQzk3RUI2NjkxMUUyQjdGMUQwRTgxRTlGN0FDQSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpFRDFGQzk3RkI2NjkxMUUyQjdGMUQwRTgxRTlGN0FDQSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkVEMUZDOTdDQjY2OTExRTJCN0YxRDBFODFFOUY3QUNBIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkVEMUZDOTdEQjY2OTExRTJCN0YxRDBFODFFOUY3QUNBIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+TqbmwQAAANVJREFUeNpi/P//PwMlgBHdgJkzZ/IDqeNArImm9gYQm6enp39CFmTBYqgBVPNLqCYQ0IBikNwhrC4A2pwMpHiBWAWIs4H4NBAvg6qLAmJTIJ4KxHeA+DPQJXPRXTAHzSWmUIwMspHYYAOYkATqkNh/ofR/KEYWQ1GLbMBiKH0NiGOh7BlQzAAVu4amFmsg/gbi71D2LyTx71A5FMDEQCEYBgZgC0RGJHEmNLWMxBigA01xIJCIJA4SE8FnwA8g/ge1VQwqxoMkDxP7B1WLPTeSCgACDABXGzUygRNuUgAAAABJRU5ErkJggg==') /*img/Delete_16X16_Gray.png*/;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.Up_16X16_Standard {
    /* Up_16X16_Standard.png */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxMzcwOENDOEVCQjUxMUUxQUVBNURFQjBBODg3QjZGNSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxMzcwOENDOUVCQjUxMUUxQUVBNURFQjBBODg3QjZGNSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjEzNzA4Q0M2RUJCNTExRTFBRUE1REVCMEE4ODdCNkY1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjEzNzA4Q0M3RUJCNTExRTFBRUE1REVCMEE4ODdCNkY1Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+rgcIMQAAAJ9JREFUeNpi/P//PwNFAJ8BZ86cmQ/C+PQygglGRqyagVQClLvAxMQkkWgDgJoLgFQ/mvpCoCETCBoA1AyyFZezE4GGLMBpAFCzA5DaTyDYHIGGHMAwAKjZAKpZgIABH6CGXIAbcPbsWQWg4HkiNCMbYmhsbPyACSqwngTNDFC1ID1YA7EBSNXj0HgA6HRH5EBkYqAQjBoAjQVKAECAAQBA8195azwuGQAAAABJRU5ErkJggg==') /*img/Up_16X16_Standard.png*/;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.Dn_16X16_Standard {
    /* Dn_16X16_Standard.png */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxMzcwOENDNEVCQjUxMUUxQUVBNURFQjBBODg3QjZGNSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxMzcwOENDNUVCQjUxMUUxQUVBNURFQjBBODg3QjZGNSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjEzNzA4Q0MyRUJCNTExRTFBRUE1REVCMEE4ODdCNkY1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjEzNzA4Q0MzRUJCNTExRTFBRUE1REVCMEE4ODdCNkY1Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+4WvwcwAAAKBJREFUeNpi+v//PwMlmIUBCBgZGRlg4MyZMw1Aqp4BOzhgYmLiCOOADGBioBCMGsAAiQVgyJ8HUgZEqHcAqv0PZV8AYkOYC0BR84EEiz9A9UC8AIzbDyQYAlYL1YMIA6DABZipBIAjVC1mIEIlEvFoTkTWjDUWgAoW4DAkESpHOBqhCpEVL8CmGZ4hcAFglM0HYVzy8NyIx5BEQpYABBgASixoGSSPP0sAAAAASUVORK5CYII=') /*img/Dn_16X16_Standard.png*/;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.dnnFormItem.alpaca-field:hover {
    background-color: #fafafa;
}

.radio.alpaca-control {
    display: inline-block !important;
}


.alpaca-field-object,
.alpaca-field-array,
.alpaca-field-table
{
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
  	margin:10px 0;
}



.alpaca-field-object > div > div > .alpaca-field-object,
.alpaca-field-object > fieldset > div > div > .alpaca-field-array,
.alpaca-field-object > div > div > .alpaca-field-array,
.alpaca-field-object > div > div > .alpaca-field-table,
.alpaca-field-object > div > div > .alpaca-field-object > fieldset > div > div > .alpaca-field-object > fieldset > div > div > .alpaca-field-object,
.alpaca-field-object > div > div > .alpaca-field-array > fieldset > div > div > div > .alpaca-field-object > fieldset > div > div > .alpaca-field-object,
.alpaca-field-object > div > div > .alpaca-field-object > fieldset > div > div > .alpaca-field-object > fieldset > div > div > .alpaca-field-array,
.alpaca-field-object > div > div > .alpaca-field-array > div > div > div > .alpaca-field-object  > fieldset > div > div > .alpaca-field-object,
.alpaca-field-object > div > div > .alpaca-field-array > fieldset > div > div > .alpaca-field-object > fieldset > div > div > .alpaca-field-array
{
  	background-color:#f7f7f9;
}

.alpaca-field-object > div > div > .alpaca-field-object > fieldset > div > div > .alpaca-field-object,
.alpaca-field-object > div > div > .alpaca-field-array > fieldset > div > div > div > .alpaca-field-object,
.alpaca-field-object > div > div > .alpaca-field-array > div > div > div > .alpaca-field-object,
.alpaca-field-object > fieldset > div > div > .alpaca-field-array > fieldset > div > div > div > .alpaca-field-object
{
  	background-color:#fff;
}

.alpaca > .dnnForm {
    border: none;
    border-radius: 0;
    padding: 0;
  	margin: 0 5px 0 0;
}

.alpaca .dnnForm {
    width: auto;
}

h2.dnnFormSectionHead a {
    padding-left: 20px;
    background-position: left 50% !important;
}


/** ************************************** **/
/** TWITTER TYPEAHEAD                      **/
/** ************************************** **/

.twitter-typeahead {
    float: left;
    width: 45%;
    max-width: 462px;
    display: inline-block;
    margin: 0 !important;
}

    .twitter-typeahead .tt-dropdown-menu {
        background-color: white;
        border: 1px #ccc solid;
        padding: 10px;
        color: #999;
        width: 100%;
        padding-bottom: 0;
    }

        .twitter-typeahead .tt-dropdown-menu P {
            font-size: 1em;
        }

.tt-suggestion.tt-is-under-cursor {
    background-color: #ccc;
    color: #333;
}

.tt-dropdown-menu {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    top: 30px !important;
}

.dnnFormItem input[type="text"].tt-input {
    width: 100%;
}

.tt-suggestion {
    color: #333;
}

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;
    }

.alpaca-field-table .select2-container {
    width: 100% !important;
    max-width: 461px;
    margin-bottom:0 !important;
}


.select2-container {
    width: 47% !important;
    max-width: 461px;
}

.select2-container--default .select2-search--inline .select2-search__field {
    margin-bottom: 0;
    padding: 0;
    border: 0 none;
    border-radius: 0;
}

.select2-container--default input[type="search"]:active,
.select2-container--default input[type="search"]:focus {
    border: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #666;
}

.dnnFormItem .select2 {
    margin-bottom: 18px;
} 

.alpaca-field-text img,
.alpaca-field-wysihtml > img {
    margin-bottom: 18px;
    margin-left: 5px;
}

select.oc-ddl-versions {
    margin-bottom: 18px;
    padding: 8px;
    background: #ffffff;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 12px;
}

.bootstrap-datetimepicker-widget {
    left: 35% !important;
}

/* icon picker*/

.icons-selector .selector-button i {
    line-height: 28px !important;
}

.icons-selector .selector {
    height: 30px !important;
    margin-bottom : 18px;
}

.icons-selector .selected-icon i {
    line-height: 30px !important;
}

/** WIZARD **/

.alpaca-wizard .alpaca-wizard-nav li .chevron
{
    position: absolute;
    top: 0;
    right: -14px;
    display: block;
    border: 27px solid transparent;
    border-right: 0;
    border-left: 14px solid #d4d4d4;
}

.alpaca-wizard .alpaca-wizard-nav li .chevron:before
{
    position: absolute;
    top: -27px;
    right: 1px;
    display: block;
    border: 27px solid transparent;
    border-right: 0;
    border-left: 14px solid #fcfcfc;
    content: "";
}

.alpaca-wizard .alpaca-wizard-nav li div.holder
{
    padding-left: 30px;
    padding-right: 20px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.alpaca-wizard .alpaca-wizard-nav li:first-child div.holder
{
    padding-left: 10px;
}

.alpaca-wizard .alpaca-wizard-nav li div.holder div.title
{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.alpaca-wizard .alpaca-wizard-nav li div.holder div.description
{
    color: #aaa;
    font-size: 12px;
}

.alpaca-wizard .alpaca-wizard-nav li.completed div.holder div.title
{
    color: #333;
}

.alpaca-wizard .alpaca-wizard-nav li.completed div.holder div.description
{
    color: #333;
}

.alpaca-wizard .alpaca-wizard-nav li.visited:hover
{
    cursor: pointer;
}

.alpaca-wizard .alpaca-wizard-nav li.visited div.holder div.title
{
}

.alpaca-wizard .alpaca-wizard-nav li.visited div.holder div.description
{
}

.alpaca-wizard .alpaca-wizard-nav li.active:hover
{
    cursor: default;
}

.alpaca-wizard .alpaca-wizard-nav li.active div.holder div.title
{
    color: #206199;
}

.alpaca-wizard .alpaca-wizard-nav li.active div.holder div.description
{
    color: #206199;
}

.alpaca-wizard .alpaca-wizard-nav li.disabled div.holder div.title
{
    color: #ccc;
}

.alpaca-wizard .alpaca-wizard-nav li.disabled div.holder div.description
{
    color: #ccc;
}

.alpaca-wizard .alpaca-wizard-nav .alpaca-wizard-back
{
    background-color: #fcfcfc;
}

.alpaca-wizard .alpaca-wizard-buttons
{
    margin-top: 20px;
}

.alpaca-wizard .alpaca-wizard-progress-bar
{
    margin-top: 20px;
}