<script type="text/x-handlebars-template" id="dnn-edit-control-imagecrop2">
    <div class="alpaca-control-container">
        <input type="file" id="{{id}}-file" {{#if options.size}} size="{{options.size}}" {{/if}} {{#if options.readonly}} readonly="readonly" {{/if}} style="margin-bottom:5px;" />
        
        <select id="{{id}}" {{#if options.readonly}} readonly="readonly" {{/if}} {{#if options.multiple}} multiple="multiple" {{/if}} {{#if options.size}} size="{{options.size}}" {{/if}} {{#if name}} name="{{name}}" {{/if}}>

            {{#if options.multiple}}

            {{#if options.hideNone}}
            {{else}}
            <option value="">{{{options.noneLabel}}}</option>
            {{/if}}

            {{#each selectOptions}}
            <option value="{{{value}}}" {{#if selected}} selected="selected" {{/if}}>{{text}}</option>
            {{/each}}

            {{else}}

            {{#if options.hideNone}}
            {{else}}
            <option value="">{{{options.noneLabel}}}</option>
            {{/if}}

            {{#each selectOptions}}
            <option value="{{{value}}}" {{#if selected}} selected="selected" {{/if}}>{{text}}</option>
            {{/each}}

            {{/if}}

        </select>

        <div class="alpaca-image-display">
            <img id="{{id}}-image" src="{{data.url}}" class="image">
        </div>
    </div>
</script>