.aspNetDisabled, a.aspNetDisabled, .dnnDisabled, a.dnnDisabled {
    color: #ccc !important;
}

.dnnFormPopup .ui-dialog-titlebar {
    position: relative;
    
    border-bottom: none; 
    
    font-size: 14px;
    font-weight: bold;
    color:#585858;
    /*margin-bottom: 5px;*/
}

.dnnFormPopup .ui-dialog-titlebar .ui-dialog-title {
    /*background-color: #ddd;
    color: #fff;
    padding: 5px;
    margin-left: -18px;*/
    
}