.alpaca-field-object.alpaca-top .alpaca-container-item-first .alpaca-field-accordion {
    border: 0px;
    padding: 0;
}

.alpaca-array-actionbar.alpaca-array-actionbar-top {
}

.alpaca-container-label span:hover {
    color: #337ab7;
}

.alpaca-array-actionbar.alpaca-array-actionbar-top.btn-group {
    /*display: inline-block !important;*/
}

.fielddiv {
    background-color: #f7f7f9;
}

.listfielddiv {
    background-color: #fff;
}

label.control-label {
    font-weight: bold;
}

.form-builder h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 10px;
}
/*
#form button.alpaca-array-actionbar-action {display:block;width:32px;}
    */
.dnnForm {
    width: auto;
}

#form .dnnLabel {
    width: 22.075%;
}

.fb-container {
    
    width: 100%;
    min-height: 300px;
}

.fb-left, .fb-right {
    float:left;
    min-height: 300px;
}

.fb-left {
    width: 50%;
}

.fb-right {
    width: 50%;
}

.loading {
    left: 20%;
    top: 40%;
    position: absolute;
}

.fieldname input {
    color: #317eac;
    font-weight: bold;
}

.dnnActions select {
    border-radius: 3px;
    padding: 7px;
}
