.DnnModule-OpenContent .aspNetDisabled, .DnnModule-OpenContent a.aspNetDisabled, .DnnModule-OpenContent .dnnDisabled, a.dnnDisabled {
    color: #ccc !important;
}

.DnnModule-OpenContent .dnnFormPopup {
    z-index: 10000000;
}

.DnnModule-OpenContent .dnnFormPopup .ui-dialog-titlebar {
    position: relative;
    border-bottom: none;
    font-size: 14px;
    font-weight: bold;
    color: #585858;
    /*margin-bottom: 5px;*/
}

.DnnModule-OpenContent .easyimage {
    background: transparent;
    border: none;
    outline: 0px;
    display: block;
    padding: 0;
    clear: both;
    text-align: center;
}

.DnnModule-OpenContent .easyimage img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.DnnModule-OpenContent .easyimage.easyimage-side {
    float: right;
    max-width: 50%;
    min-width: 10em;
    margin-left: 1.5em;
}


/* For Template Picker */
.DnnModule-OpenContent .oc-select-template {
	--background-color: white;
	--border-color: #aaa;
	
	--tabs-border-bottom: solid 1px var(--border-color);
	--tabs-margin: 1em 0 0;
	--tabs-gap: 0.5em;
	
	--tab-min-width-sm: 100%;
	--tab-min-width: 12em;
	--tab-border: solid 1px var(--border-color);
	--tab-color: black;
	--tab-bg: #eee;
	--tab-bg-hover: #f4f4f4;
	--tab-border-active: solid 1px var(--border-color);
	--tab-border-bottom-active: #fff;
	
	--tab-padding: 0.5em 0.7em;
	--tab-radius-sm: 0.4em;
	--tab-radius: 0.4em 0.4em 0 0;
	--tab-margin-right: 0.3em;
	--tab-margin-bottom: -1px;
	
	--templates-border: solid 1px var(--border-color);
	--templates-padding: 1em;
	--template-border: solid 1px var(--border-color);
	--template-border-radius: 0.25em;
	--template-padding: 0.5em;
	
	--template-advanced-color: black;


}

.DnnModule-OpenContent .oc-select-template .dnnFormItem input[type="checkbox"],
.DnnModule-OpenContent .oc-select-template .dnnFormItem input[type="radio"] {
	display: inline-block;
	width: auto;
	margin: 6px 5px 6px 5px;
}

.DnnModule-OpenContent .oc-select-template .oc-tabs {
	display: flex;
	flex-wrap: wrap;
	container-type: inline-size;
	margin: var(--tabs-margin);
}


.DnnModule-OpenContent .oc-select-template .oc-tab-wrap {
	min-width: var(--tab-min-width-sm);
	margin-bottom: 0.5em;
}
	
	
.DnnModule-OpenContent .oc-select-template .oc-tab-link {
	display: block;
	padding: var(--tab-padding);
	border-radius: var(--tab-radius-sm);
	margin-right: var(--tab-margin-right);
	color: var(--tab-color);
	background: var(--background-color);
	border: var(--tab-border-active);
	margin-bottom: var(--tab-margin-bottom);
}

@container (min-width: 400px){
	.DnnModule-OpenContent .oc-select-template .oc-tab-wrap {
		min-width: var(--tab-min-width);
	}
	.DnnModule-OpenContent .oc-select-template .oc-tab-link {
		
		border-radius: var(--tab-radius);
	}

}

.DnnModule-OpenContent .oc-select-template .oc-tab-new-template .oc-tab-link {
	border: none;
}

.DnnModule-OpenContent .oc-select-template .oc-tab-link.advanced:hover {
	background: var(--tab-bg-hover);
}

.DnnModule-OpenContent .oc-select-template .oc-tab-link.active {
	background: #eee;

}

@container (min-width: 400px){
	.DnnModule-OpenContent .oc-select-template .oc-tab-link.active {
	background: var(--background-color);
	border: var(--tab-border-active);
	border-bottom-color: var(--tab-border-bottom-active);
	}
}

.DnnModule-OpenContent .oc-select-template .oc-tab-new-template {
	margin-left: auto;
	
}

.DnnModule-OpenContent .oc-select-template .oc-tab-new-template .oc-tab-link{
	background: none;
}
	

.DnnModule-OpenContent .oc-select-template .oc-templates {
	display: flex;
	container-type: inline-size;
	background: var(--background-color);
	flex-wrap: wrap;
	border: var(--templates-border);
	padding: var(--templates-padding);
	gap: var(--tabs-gap);
	
}


	.DnnModule-OpenContent .oc-select-template .oc-template {
		border: var(--template-border);
		border-radius: var(--template-border-radius);
		min-width: var(--template-min-width);
		padding: var(--template-padding);
		position: relative;
		min-width:100%;
	}
	
@container (min-width: 400px){
	
	.DnnModule-OpenContent .oc-select-template .oc-template {
		min-width: var(--template-min-width);
	}

}

.DnnModule-OpenContent .oc-select-template .oc-template .advanced{
	color: var(--template-advanced-color);
}

