.aspNetDisabled, a.aspNetDisabled, .dnnDisabled, a.dnnDisabled {
    color: #ccc !important;
}

.dnnFormPopup {
    z-index: 10000000;
}

.dnnFormPopup .ui-dialog-titlebar {
    position: relative;
    border-bottom: none;
    font-size: 14px;
    font-weight: bold;
    color: #585858;
    /*margin-bottom: 5px;*/
}
