<script type="text/x-handlebars-template" id="dnn-edit-control-imagex">
    <div class="alpaca-control-container">
        <div class="row">
            <div class="col-md-4">
                <input type="file" id="{{id}}-file" {{#if options.size}} size="{{options.size}}" {{/if}} {{#if options.readonly}} readonly="readonly" {{/if}} style="margin-bottom:5px;" />
            </div>
            <div class="col-md-4">
                <input id="{{id}}-overwrite" type="checkbox" {{#if selected}} checked{{/if}} /> Overwrite existing image
            </div>
            <div class="col-md-4">
                <div id="{{id}}-alert" class="_alert _alert-success" role="alert" style="border-radius:3px;padding:2px 5px ;background-color:dimgrey;color:#fff;display:none">File Uploaded</div>
            </div>
        </div>
        <select id="{{id}}" {{#if options.readonly}} readonly="readonly" {{/if}} {{#if options.multiple}} multiple="multiple" {{/if}} {{#if options.size}} size="{{options.size}}" {{/if}} {{#if name}} name="{{name}}" {{/if}}>

            {{#if options.multiple}}

            {{#if options.hideNone}}
            {{else}}
            <option value="">{{{options.noneLabel}}}</option>
            {{/if}}

            {{#each selectOptions}}
            <option value="{{{value}}}" {{#if selected}} selected="selected" {{/if}}>{{text}}</option>
            {{/each}}

            {{else}}

            {{#if options.hideNone}}
            {{else}}
            <option value="">{{{options.noneLabel}}}</option>
            {{/if}}

            {{#each selectOptions}}
            <option value="{{{value}}}" {{#if selected}} selected="selected" {{/if}}>{{text}}</option>
            {{/each}}

            {{/if}}

        </select>
        {{#if options.showImage}}
        <div class="alpaca-image-display">
            <img id="{{id}}-image" src="{{data.url}}" class="image">
        </div>
        {{/if}}
        
    </div>
</script>