<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <pages pageBaseType="Satrabel.OpenContent.Components.OpenContentWebPage">
      <namespaces>
        <!--<add namespace="Microsoft.Web.Helpers" />
        <add namespace="WebMatrix.Data" />-->
      </namespaces>
    </pages>
  </system.web.webPages.razor>

</configuration>

