.alpaca-array-actionbar.alpaca-array-actionbar-top {
  
   
}

.alpaca-container-label span:hover {
    
     color:#337ab7;
}


.alpaca-array-actionbar.alpaca-array-actionbar-top.btn-group {
    
        
        
       
    display: inline-block !important;
  
}

.fielddiv{
    
    background-color:#f7f7f9;
}


.listfielddiv{
    
    background-color:#fff;
}